<p id="notice"><%= notice %></p>

<%= hidden_field_tag 'ride_geojson', @ride.geojson %>

<p>
  <%= @ride.message %>
</p>

<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', root_path %>
